# Attivare questi moduli di Apache:
# - rewrite_module
# - proxy_module
# - proxy_http_module
#
# Verificare il parametro AllowOverride (va posto ad All)

RewriteEngine On

RewriteRule jais/(.*) http://localhost:8080/jais/$1 [P,L]

