<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<appender name="stderr" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="error"/>
		<param name="Target" value="System.err" />		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"	value="%d %-5p [%t] %c - %m%n" />
		</layout>
	</appender>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="debug"/>		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"	value="%d %-5p [%t] %c - %m%n" />
		</layout>
	</appender>	
	<appender name="roll" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="logs/jais.log" />
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %c - %m%n" />
		</layout>
	</appender>
	<logger name="org.mortbay">
	  <level value="info" />
	</logger>
	<root>
		<priority value="trace" />
		<appender-ref ref="stdout" />
		<appender-ref ref="stderr" />
	</root>
</log4j:configuration>
