@CHARSET "ISO-8859-1";

body {
	color: white;
}

/* colori degli elementi */

.eds-regt-1-season {
	background-color: rgb(162,47,16);
}
	                  
.eds-regt-1-day {
	background-color: rgb(232,68,23);
}

.eds-regt-1-hour {
	background-color: rgb(61,23,13);
}

.eds-regt-1-cursor {
	background-image: url("../images/eds.regt.red-round.png")
}

.eds-regt-0-season {
	background-color: rgb(16,102,162);
}

.eds-regt-0-day {
	background-color: rgb(23,145,232);
}

.eds-regt-0-hour {
	background-color: rgb(13,41,61);
}

.eds-regt-0-cursor {
	background-image: url("../images/eds.regt.blue-round.png")
}


/* dimensioni elementi standard */

h1 {
	margin: 0px 10px;
	font-size: 30px;
}

h2 {
	margin: 0px 10px;
	font-size: 26px;
}

ul.eds-regt-stagione {	
	//border: 1px solid green;
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

ul.eds-regt-stagione li {
	list-style-type: none;
	//border: 1px solid green;
	float: left;
	width: 50px;
	padding: 5px;
}


div#regt-0 {
	//border: 3px solid red;
	//background-color: red;
}	

div#regt-1 {
	//border: 3px solid blue;
	//background-color: blue;
}	

div.eds-regt-0-season, div.eds-regt-1-season {
	position: relative;
	color: white;
	float: left;
	clear: left;
	margin: 6px;
	padding: 10px 0px;
} 

div.eds-regt-0-day, div.eds-regt-1-day {
	color: white;
	position: relative;
	/*
	background: transparent;
	border: 30px ridge yellow; 
	*/
	float: left;
	clear: left;
	padding: 1px 3px;	
	margin: 2px 0px;
	padding: 3px 4px 0px 3px;
} 

div.eds-regt-0-hour, div.eds-regt-1-hour {
	cursor: crosshair;
	position: relative;
	/* 
	background-color: #111;
	opacity: 0.6;
		*/
	color: white;
	font-size: 0.7em;
	text-align: center;
	float: left;
	width: 39px;
	padding: 0px 0px;
	height: 140px;
	margin: 10px 1px;
	float: left;
	overflow: hidden;	
}

div.eds-regt-0-cursor, div.eds-regt-1-cursor {
	position: absolute;
	text-align: center;
	width: 40px;
	height: 12px;
	margin: 0px;
	padding: 13px 0px 15px 0px;
	font-size: 12px;
	bottom: 0px;
	/*
	background-color: white; 
	opacity: 0.6;	
	*/
	color: white;
	z-index: 10;
	display: none;
}
