@CHARSET "ISO-8859-1";

ul.eds-regt-stagione {	
	border: 1px solid green;
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

ul.eds-regt-stagione li {
	list-style-type: none;
	border: 1px solid green;
	float: left;
	width: 50px;
	padding: 5px;
}


div#regt-0 {
	border: 3px solid red;
}	

div#regt-1 {
	border: 3px solid blue;
}	

div.eds-regt-stagione {
	position: relative;
	color: white;
	float: left;
	clear: left;
} 

div.eds-regt-giorno {
	color: white;
	position: relative;
	border: 1px solid yellow;
	float: left;
	clear: left;
} 

div.eds-regt-ora-box {
	position: relative;
	border: 1px solid blue;
	background-color: #111;
	color: white;
	font-size: 0.7em;
	text-align: center;
	float: left;
	width: 20px;
	height: 100px;
	margin: 10px 0px;
	float: left;
}

div.eds-regt-ora {
	position: absolute;
	width: 20px;
	height: 100px;
	background-color: green;
	color: black;
	z-index: 20;
}

div.eds-regt-ora-cursor {
	position: absolute;
	text-align: center;
	width: 20px;
	height: 16px;
	margin-top: 50px;
	background-color: yellow;
	color: black;
	z-index: 10;
}


