body {
        font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.port {
        float: left;
        background-color: silver;
        margin: 1px;
        padding: 2px;
        width: 100%;
}

div.port:hover {
        background-color: lime;
}

div.address {
        float: left;
        padding: 2px;
}

div.type {
        float: left;
        padding: 2px;
}

div.description {
        float: left;
        padding: 2px;
}

div.value {
        float: left;
        padding: 2px;
}

div.buttons {
        float: right;
        padding: 2px;
}

button {
        height: 20px;
}
